<div class="layui-row">
    <div class="layui-col-md12 " style="padding: 15px 0px;" >
        <span class="layui-breadcrumb" lay-separator="/">
          <a href="/public/">首页</a>
          <a><cite>新年特惠</cite></a>
        </span>
    </div>
</div>
<div class="left">
    <ul class="layui-nav layui-nav-tree layui-bg-cyan layui-inline" lay-filter="demo">
        <li class="layui-nav-item"><a href="">子菜单一</a>
        </li>
        <hr class="layui-bg-gray"/>
        <li class="layui-nav-item"><a href="">子菜单二</a></li>
    </ul>
</div>